---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "Neues Liedgut aus dem Süden"
    headline: Widersacher aller Liedermacher
    subline: + Die Brausen
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Palmengarten
        address: >
              Jan-Wellem-Straße 2, 51065 Köln-Mülheim
    admission:        
        date: Samstag, 22. März 2025
        time: Einlass 19 Uhr / Beginn 20 Uhr
        fee: >
            VVK / AK 15 EUR
    tickets:
        # comment-out url to disable section
        url: https://wohnzimmerkonzerte.ticket.io/zulem31s/
        title: Tickets bestellen
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/klubder40
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2025_widersacher.jpg
        attribution: 'Foto: Widersacher aller Liedermacher'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: Widersacher aller Liedermacher
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Die Brausen
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
    paragraph: >
      <hr>
      <br><br>
      <i>Offiziell unter'm Klub-Banner geht es weiter im April.</i>
      <br><br>
      <b>Fr. 04.04.2025:</b>
      <br>
      <b class="h3">Suzan Köcher's Suprafon</b>
      <br>
      <b class="h3">+ Regina Melech (Little Red Taxi Girl)</b>
      <br><br>
      <a href="https://www.youtube.com/watch?v=RPSicYnGmh4">Suprafon</a> spielt psychedelische Musik zwischen Dreampop, Indie, Krautrock, Disco – sinister, melodisch, atmosphärisch und halluzinierend!
      <br><br>
      <a href="https://www.youtube.com/watch?v=vqTMfkuNdjc">Regina</a> singt Blues-Titel aus den 40er Jahren, als hätte sie sie eben erfunden. Umgekehrt klingen ihre eigenen Songs wie Traditionals vom Mississippi.
      <br><br>
      <b>Eintritt 14 EUR - Jetzt im <a href="https://rausgegangen.de/en/events/suzan-kochers-suprafon-regina-melech-little-red-taxi-girl-0/">Vorverkauf</a></b>
---
<i>Ausnahmsweise einmal nicht unter dem Banner des Klub der 40 e.V., daher pädagogisch besonders wertvoll.</i>
<br/><br/>
<b>Widersacher aller Liedermacher</b>
<br/><br/>
Fünf Typen, zu viele Instrumente und <a href="https://www.youtube.com/watch?v=dPRuvpIpwQA">ehrliche Geschichten im bayrischen Slang</a>. 
Geschichten wie Bilder von Kindheit, Frauen, Bier und Gemüsebrühe, von Emanzipation und vom Aufbruch ins Unbekannte. 
<br><br>
Da sind Lieder, die der ganzen scheiß Welt den Mittelfinger zeigen andere, die sie mit einem schulterzuckenden „Jamei!“ umarmen. 

Und über alldem der Klang der sanften Brise des stillzirpenden, rauschenden, endlosen Oberpfälzer Hinterlands. Im Versuch, die Welt in Musik zu fassen, entziehen sich die „<a href="https://widersacher-aller-liedermacher.de">Widersacher aller Liedermacher</a>“ lieber einer kategorischen Einordnung und manövrieren zwischen Folk, Rock und Jazz, zwischen Hip-Hop und Klassik in einer zügellosen Freiheit, die irgendwie 60er-Jahre-Woodstock-Vibes durch den Hypophysenlappen wabern lässt.
<br><br>
Special Guest: <a href="https://die-brausen.de/22-03-2025-die-brausen-als-special-guest/">Die Brausen</a>. Der berühmte <a href="https://www.youtube.com/@diebrausen8961/videos">Kölner Frauen-Chanty Chor</a> machen einen Betriebsausflug über Rhein, Main und Donau bis in die Oberpfalz.