---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: 'Gratis & Draußen'
    # headline: Edelweiß&shy;piraten&shy;festival
    subline: Edelweiß&shy;piraten&shy;festival
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Friedenspark
        address: >
            Hans-Abraham-Ochs-Weg 1, 50678 Köln-Südstadt<br>U15/16 bis Ubierring oder U18 bis Schönhauser Str.
    admission:        
        date: Sonntag, 30. Juni 2024
        time: 14.30 Uhr Beginn - 20 Uhr Ende
        fee: >
            Eintritt frei
    tickets:
        # comment-out url to disable section
        # url: https://vvk.klubder40.de
        title: Programm herunterladen
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/events/1412510486137241/
        superscript: dieses event auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2024_edelweiss.jpg
        attribution: 'Poster: Humba e.V.'
    links:
        # comment-out title to disable section
        # title: 'Reinhören:'
        items:
            - title: Lonlax (soundcloud)
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Cléo 2 (soundcloud) 
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            - title: Facebook-Event
              url: https://www.facebook.com/events/651981326916477
            - title: Ticket-Vorverkauf
              url: https://vvk.klubder40.de
# FOOTER
footer:
    # imprint
    imprint: >
            Newsletter: Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.
---
<b>Jahresthema: »Singen hilft!« - 100 Jahre Gertrud „Mucki“ Koch.</b>
<br>
<i>Mucki, die in ihrem Leben viele schlimme Dinge erleben musste, riet ihren Freunden: »Wenn du gar nicht mehr weiter weißt, dann geh raus und sing‘ - Singen hilft!«</i>
<br><br>
In diesem Jahr wird das Festival um 14.30 Uhr auf der Hofbühne eröffnet und der Klub freut sich auf ein tolles Musikprogramm mit <a target="_blank" href="https://de.wikipedia.org/wiki/Rolly_Brings">Rolly und Benjamin Brings</a>, <a target="_blank" href="https://www.theredflags.de/">The Red Flags</a>, <a target="_blank" href="https://pinchesperros.de/media">Los Pinches Perros</a>, <a target="_blank" href="https://de.wikipedia.org/wiki/Cynthia_Nickschas">Cynthia Nikschas</a> und <a target="_blank" href="https://www.facebook.com/kapelle3koeln/">Kapelle#3</a>, sowie vielen weiteren Bands auf insgesamt 5 Bühnen.
<br><br>
Das Edelweisspiratenfestival findet seit 2005 jährlich im Kölner Friedenspark als lebendiges Denkmal für die unangepasste, widerständische Jugend im Hitlerfaschismus statt. Im gesamten Parkgelände treten Bands aller musikalischen Stilrichtungen auf: als Besonderheit ehren die Bands die Edelweisspiraten, indem sie jeweils ein Edelweisspiratenlied in ihre Festival-Setlist aufnehmen.
<br><br>
Seit 2017 stellt der Klub der 40 e.V. die Arbeitsleistung seiner Mitglieder dem Festival unentgeltlich zur Verfügung und betreibt so den zentralen Getränkeausschank auf dem Baui-Hof. Seit 2019 kuratiert der Klub der 40 e.V. unter Jörg Espelta das Musik-Programm der dortigen Bühne in enger Abstimmung mit der Festivalleitung um Jan Krauthäuser und kümmert sich um den reibungslosen Ablauf des Bühnenprogramms und der Künstlerbetreuung.
<br><br>
Das Festival wird veranstaltet durch den <a target="_blank" href="https://www.edelweisspiratenfestival.de/">Edelweisspiratenclub e.V.</a> und steht unter der Schirmherrschaft der Kölner Oberbürgermeisterin. Es finanziert es sich durch Spenden und die Umsatzerlöse des gastronomischen Angebotes, sowie öffentliche Zuwendungen. Sponsoren sind die <a target="_blank" href="https://www.stadt-koeln.de/leben-in-koeln/kultur/kulturfoerderung/index.html">Stadt Köln</a>, das <a target="_blank" href="https://museenkoeln.de/ns-dokumentationszentrum/default.aspx?s=314">NS-Dokumentationszentrum</a>, die <a target="_blank" href="https://stadtrevue.de">Stadtrevue</a>, der <a target="_blank" href="https://humba-koeln.de/">Humba e.V.</a>, der <a target="_blank" href="https://klubder40.de">Klub der 40 e.V.</a>, sowie in diesem Jahr auch die <a target="_blank" href="https://www.burg-waldeck.de/">AG Burg Waldeck</a> und die <a target="_blank" href="https://www.smend.de/index.html">Galerie Smend</a> aus der Kölner Südstadt. Der Eintritt ist frei.
