---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "77s & Transatlantic Punk"
    headline: The Return of Sonny Vincent
    subline: + The Extras
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Blue Shell
        address: >
              Luxemburger Straße 32, 50674 Köln
    admission:        
        date: Samstag, 21.02.2026
        time: Einlass 20 Uhr
        fee: >
            VVK 27,10 EUR
    tickets:
        # comment-out url to disable section
        url: https://vvk.klubder40.de
        title: Tickets bestellen
    # soldout:
        # comment-out url to disable section
        # title: Ausverkauft
        # text: Es sind leider keine Tickets mehr verfügbar.
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/klubder40
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3.eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/fml/cdd84e08-8740-4b26-9cc9-cdecca002292/2026_sonnyvincent_web.jpg
        attribution: 'Poster: Wulf Beck'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: 'Soundcloud #1'
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: 'Soundcloud #2'
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
#    paragraph: >
#      <hr>
#      <br><br>
#      <b>Eintritt 14 EUR - Jetzt im <a href="https://rausgegangen.de/en/events/suzan-kochers-suprafon-regina-melech-little-red-taxi-girl-0/">Vorverkauf</a></b>
---
<b>Sonny Vincent (USA)</b>
<br><br>
Die <a href="https://youtu.be/o3TdDQZbd3s?si=gU0CUdPQ25b7bllm&t=659">Punkrock-Ikone</a> kehrt zurück:
<br><br>
1975 gründete Sonny Vincent die <a href="https://www.youtube.com/watch?v=0fvc7s64B_8">Testors</a> in New York City. Er war Frontmann von Shotgun Rationale, tourte neun Jahre mit Moe Tucker von Velvet Underground.
Der Altmeister des 77-Punk hat alles gesehen und mit Gott und der Welt auf der Bühne gestanden. CBGB’s und Max’s Kansas City waren über Jahre seine wichtigsten Anlaufstellen. Auf der Straße in NYC wich er niemandem aus. „Ich wäre lieber gestorben, als den Weg freizugeben“, schreibt er in seiner Biografie.
<br><br>
10 Jahre hat <a href="https://www.gehkacken.de/?p=21867&brid=Akd9XWyHw9pPFpKIZ9fPGA">Sonny Vincent</a> nicht mehr in Köln gespielt, jetzt holt ihn der „Klub der 40“ für einen raren Auftritt ins Blue Shell. Sonny bringt ein Allstar-Team mit: <b>Am Schlagzeug tobt sich Frank Ferrer aus, langjähriger Drummer von Guns´n´Roses. An der Gitarre Nils Finkeisen (Die Krupps), am Bass „Billy the Kid“ (Sidekick).</b>
<br><br>
Der Wahnsinn wird übrigens abgedreht: Das Konzert filmt der katalanische Regisseur <a href="https://punkhostagepress.com/authors/danny-garcia/">Danny Garcia</a> („The Rise and Fall of The Clash“) für seine geplante Doku über Sonny Vincent.
<br><br>
<b>THE EXTRAS (Köln) - Transatlantic Punk Powerhouse</b>
<br><br>
Höchst passend eröffnen werden <a href="https://youtu.be/NnD4_HqkNyI?si=jRnqbFq98FMyp_Jw">The Extras</a>, eine transatlantische Abrissbirne um Elmar Freels, den Multiinstrumentalisten Jon Manierre aus New York und Leadgitarristin Killer Krissy. Der Orkan aus Lärm, Leidenschaft und Melodien ist „kompromisslose Breitwand“, sagt Frontmann Freels, den man auch als Gründer der international bekannten Band Dumbell kennt. 
<br><br>
Auf dem Debütalbum „Closer“ spielt übrigens ein Very Special Guest mit: kein Geringerer als Sonny Vincent.