---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "Von Dreampop bis Krautrock"
    headline: "Suzan Köcher's Suprafon"
    subline: + Regina Melech (Little Red Taxi Girl)
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: 674FM Konzertraum
        address: >
              Ubierring 13, 50678 Köln-Südstadt
    admission:        
        date: Freitag, 04.04.2025
        time: Einlass 19 Uhr / Beginn 20 Uhr
        fee: >
            VVK / AK 14 EUR
    tickets:
        # comment-out url to disable section
        url: https://vvk.klubder40.de
        title: Tickets bestellen
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/events/1140347394227821/
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2025_suprafon.jpg
        attribution: 'Foto: Suprafon / Lars Breitzke'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: 'Soundcloud #1'
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: 'Soundcloud #2'
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
#    paragraph: >
#      <hr>
#      <br><br>
#      <b>Eintritt 14 EUR - Jetzt im <a href="https://rausgegangen.de/en/events/suzan-kochers-suprafon-regina-melech-little-red-taxi-girl-0/">Vorverkauf</a></b>
---
<b>Suzan Köcher's Suprafon</b>
<br><br>
<a href="https://www.youtube.com/watch?v=RPSicYnGmh4">Suprafon</a> spielt psychedelische Musik zwischen Dreampop, Indie, Krautrock, Disco, ‘60s Vibes, Desert Americana, Soundtrack – sinister, melodisch, atmosphärisch und halluzinierend!
<br><br>
Mit ihrer Musik, die einen wie auf einem Strom davonträgt, begeisterte die Band unter anderem auf dem Traumzeit Festival, dem Orange Blossom Special, dem SXSW in Austin, Texas, und dem Reeperbahn Festival.
Ihr drittes Studioalbum "In These Dying Times" erschien im Oktober 2024 auf Unique Records.
<br><br>
<b>Regina Melech (Little Red Taxi Girl)</b>
<br><br>
<a href="https://www.youtube.com/watch?v=vqTMfkuNdjc">Regina</a> singt Blues-Titel aus den 40er Jahren, als hätte sie sie eben erfunden. Umgekehrt klingen ihre eigenen Songs wie Traditionals vom Mississippi.
Freut euch auf handgemachte individuelle Songs, frisch dargeboten mit akustischen Instrumenten.