---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "Neo-60s Garage / R'n'B-T"
    headline: The Satelliters
    subline: + Savage Rhythm Club
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Sonic Ballroom
        address: >
              Oskar-Jäger-Str. 190, 50825 Köln-Ehrenfeld
    admission:        
        date: Samstag, 17. August 2024
        time: Einlass 20 Uhr / Beginn 21 Uhr
        fee: >
            VVK 15,40 EUR / AK 14 EUR
    tickets:
        # comment-out url to disable section
        url: https://loveyourartist.com/de/profiles/sonic-ballroom-9FRACM/events/the-satelliters-d-savage-koln-HKUHGU
        title: Tickets reservieren
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/events/1490705611565166
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2024_savageRhythmClub.jpg
        attribution: 'Foto: Savage Rhythm Club'
    links:
        # comment-out title to disable section
        # title: 'Reinhören:'
        items:
            - title: Lonlax (soundcloud)
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Cléo 2 (soundcloud) 
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            - title: Facebook-Event
              url: https://www.facebook.com/events/651981326916477
            - title: Ticket-Vorverkauf
              url: https://vvk.klubder40.de
# FOOTER
footer:
    # imprint
    imprint: >
            Veranstalter: Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.
---
<b>The Satelliters (Darmstadt) - Neo-60s Garage</b>
<br/><br/>
Ja, <i>die</i> <a target="_blank" href="https://www.thesatelliters.de/">The Satelliters</a>!
<br><br>
<b>Support: Savage Rhythm Club (Hamburg) - R'n'B Trash</b>
<br><br>
Psst... Hier kommt ein Geheimtipp:
<a target="_blank" href="https://www.facebook.com/profile.php?id=61559370937032">Savage Rhythm Club</a> 
sind primitive stompin' Drums, Fuzz Bass, Rotor-getränkter Orgelteppich und miese Gitarrenriffs, sowie wilde Screams and Shouts. 
<i>OUCH!</i> Dabei kommt am Ende fucked-up Rhythm'n'Blues-Trash-meets-Blues-Punk bei rum. 
<br><br>
Die vier Hamburger sind eine Retorten-Band,
bestehend aus (Ex)-Mitgliedern der Hamburger Urgesteine »The Beasts« sowie dem Boy-Girl-Duo »The Cheating Hearts«. 
Soeben noch auf dem Munster Raving Loony Festival in Tarragona, Spanien - nun im Sonic!
<br><br>
<i>Gerd B. aus Mannheim: »Diese Band ist die Speerspitze des Budget-Rocks«. 
»Besser als 99% aus diesem Sektor...«, Frank M. aus Erfurt.</i>