---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "Rock'n'Roll & Voodoo-Blues"
    headline: Highway Patrol
    subline: + Juke Joint Pimps
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Sonic Ballroom
        address: >
              Oskar-Jäger-Straße 190, 50825 Köln-Ehrenfeld
    admission:        
        date: Samstag, 11.10.2025
        time: Einlass 20 Uhr / Beginn 21:30 Uhr
        fee: >
            VVK 15,40 EUR / AK 14 EUR
    tickets:
        # comment-out url to disable section
        url: https://vvk.klubder40.de
        title: Tickets bestellen
    # soldout:
        # comment-out url to disable section
        # title: Ausverkauft
        # text: Es sind leider keine Tickets mehr verfügbar.
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/klubder40
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2025_highwaypatrol_480.jpg
        attribution: 'Poster: Highway Patrol / Juke Joint Pimps'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: 'Soundcloud #1'
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: 'Soundcloud #2'
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
#    paragraph: >
#      <hr>
#      <br><br>
#      <b>Eintritt 14 EUR - Jetzt im <a href="https://rausgegangen.de/en/events/suzan-kochers-suprafon-regina-melech-little-red-taxi-girl-0/">Vorverkauf</a></b>
---
<b>Highway Patrol</b>
<br><br>
Bei Highway Patrol weht eine goldene Brise, es weben sich Gitarren ineinander, Landschaften flirren vorbei.
Alle vier Bandmitglieder schreiben Songs und lassen ihre ganz eigene Stimmung entstehen - und doch verliert die Band nie ihren Sound: eine brodelnde Mixtur aus Blues, Soul und Rock'n'Roll.
<br><br>
<b>Juke Joint Pimps</b>
<br><br>
Juke Joint Pimps sind Mighty Mike und T-Man, eine Zweimannband mit Schlagzeug, Mundharmonika, Gitarre und Gesang.
Zwei bekloppte Typen in weißen Nadelstreifenhosen, roten Schuhen und mit dicken Klunkern spielen absolut genialen, ungehobelten, krachigen postwar Chicago Blues. Hier ihr Debüt-Album auf Voodoo Rhythm.  
<br><br>
Kaum zu glauben, dass die Juke Joint Pimps aus Köln kommen - doch hören sie sich an, als hätten sie jahrelang in Mississippi nach der Arbeit auf der Veranda den Blues in sich aufgesogen. Ihre Vorlieben für Elmore James, Howlin' Wolf, North Mississippi Hill Country Blues oder Reverend Charlie Jackson sind unverkennbar.