---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Sicherheitshinweis: Tickets bitte ausschließlich über <a href="https://vvk.klubder40.de">vvk.klubder40.de</a> oder eine Second-Hand-Börse mit Käuferschutz.
            <br><br>
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# DEFAULT
default:
    # DEFAULTS
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    facebook:
        # comment-out title to disable section
        title: Facebook
        superscript: triff uns auf
        url: https://www.facebook.com/klubder40
    notickets:
        # comment-out title to disable section
        # title: Eintritt frei
        # text: Bring your own beer.
    tickets:
        # comment-out title to disable section
        title: Tickets bestellen
        url: https://vvk.klubder40.de

# CONTENT
content:
    # CUSTOM
    tagline: "Noise Industrial Rock"
    headline: Melt-Banana
    subline: + Thistles
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Blue Shell
        address: >
              Luxemburger Str. 32, 50674 Köln
    admission:        
        date: Freitag, 19.06.2026
        time: Einlass 20 Uhr, Beginn 21 Uhr
        fee: >
            VVK 27,10 EUR / AK 30 EUR
    poster:
        # comment-out url to disable section
        url: https://s3.eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/fml/4f598513-5edc-4817-be6f-b0c905b504e1/2026_meltbanana_480.jpg
        attribution: 'Foto: Melt Banana'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: 'Soundcloud #1'
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: 'Soundcloud #2'
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
    announcement:
        # comment-out title to disable section
        # title: 'VORSCHAU'
        text: >
          Fr. 19.06.26: Melt-Banana (Tokyo) + Thistles (Köln), Blue Shell - <a href="https://klubder40.de/projekte/2026_meltBanana.php"><i>Noise</i></a>.

    # footnote: >
    #     <hr><br>
    #     Sicherheitshinweis: Tickets bitte ausschließlich über <a href="https://vvk.klubder40.de">vvk.klubder40.de</a> oder eine Second-Hand-Börse mit Käuferschutz.
---
<b>MELT-BANANA (Tokyo) - Noise</b>
<br><br>
Wären <a href="https://youtu.be/ozjK8ERJ9IU?t=13">Melt-Banana</a> Skispringer, würden sie so weit fliegen wie Noriaki Kasai, aber mit eingebautem Gienger-Salto. Entsprechend glücklich ist der Klub der 40, das japanische Noise-Duo nach genau 10 Jahren wieder in Köln landen zu lassen. Der intensive Sound der 1991 gegründeten Band ist längst eine Institution - für Fans wie für Musiker, die sich von komplexen Arrangements nicht abschrecken lassen.
<br><br>
Mehr als ein Dutzend Alben und Konzerte auf der ganzen Welt: Mit ihrem harten, experimentellen Sound haben Melt-Banana die Musikszene variantenreich und lautstark überrumpelt. Viele Fans von Melt-Banana sind selbst Musik-Ikonen: John Zorn, Tool, Mike Patton, Fantômas, Wire, Underworld, Melvins und Lou Reed haben mit ihnen zusammengearbeitet.
<br><br>
Melt-Banana sind <a href="https://www.facebook.com/profile.php?id=100045465780384">Sängerin Yasuko Onuki und Gitarrist Ichiro Agata</a>. Agata holt aus den sechs Saiten einen irren "Hypertension Sound", der nicht immer Rückschlüsse auf eine Gitarre zulässt. Grindcore-Riffs, scharfe Shouts, massiver Druck: Innerhalb von Sekunden denkt man an Kunst, Noise, Punk, Metal, Riot Grrrl, Grindcore, Popkultur.
<br><br>
<a href="https://melt-banana.net/"><i>Was</i></a> also ist eigentlich Melt-Banana? Eine gute Antwort gab John Peel: "You cannot just listen to Melt-Banana - you must experience Melt-Banana."
<br>
<br><br>
<b>THISTLES (Köln) - Noisecore, Post-Punk</b>
<br><br>
Das deutsch-indisch-niederländische Trio formierte sich 2023. Die <a href="https://www.facebook.com/profile.php?id=61565983903099">Kölner Band</a> hat ihre eigene Interpretation eines <a href="https://thistlescologne.bandcamp.com/">Sounds</a> entwickelt, der von Bands wie Unwound, The Cure, Mogwai, Shipping News, Ten Grand, Sonic Youth oder Kyuss beeinflusst ist.
