---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# FOOTER
footer:
    # imprint
    imprint: >
            Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Sicherheitshinweis: Tickets bitte ausschließlich über <a href="https://vvk.klubder40.de">vvk.klubder40.de</a> oder eine Second-Hand-Börse mit Käuferschutz.
            <br><br>
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "60s Blues & Garage Punk"
    headline: The Beatpack
    subline: + The Carlos Marx Brothers
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Konzertraum 674 FM
        address: >
              Ubierring 13, 50678 Köln
    admission:        
        date: Freitag, 17.04.2026
        time: Einlass 19 Uhr, Beginn 20 Uhr
        fee: >
            VVK 16,50 EUR / AK 20 EUR
    tickets:
        # comment-out url to disable section
        url: https://vvk.klubder40.de
        title: Tickets bestellen
    # soldout:
        # comment-out url to disable section
        # title: Ausverkauft
        # text: Es sind leider keine Tickets mehr verfügbar.
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/klubder40
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3.eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/fml/f04327f1-2df3-48e4-84c5-a69c6206a235/2026_beatpack_440.jpg
        attribution: 'Foto: The Beatpack'
    links:
        # comment-out title to disable section
        # title: 'Zum Reinhören:'
        items:
            - title: 'Soundcloud #1'
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: 'Soundcloud #2'
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            # - title: Facebook-Event
            #  url: https://www.facebook.com/events/651981326916477
            # - title: Ticket-Vorverkauf
            #  url: https://vvk.klubder40.de
    # footnote: >
    #     <hr><br>
    #     Sicherheitshinweis: Tickets bitte ausschließlich über <a href="https://vvk.klubder40.de">vvk.klubder40.de</a> oder eine Second-Hand-Börse mit Käuferschutz.
---
<b>THE BEATPACK (UK) - 60's Blues Rock'n'Roll</b>
<br><br>
The <a href="https://www.facebook.com/groups/beatpack">Beatpack</a> haben sich zusammengerottet, um den <a href="https://youtu.be/bJhqxtVJJhM?si=el5GIqGNCUU7GyaS">wilden Teenager-Rock'n'Roll</a>, 60er-Jahre-Garage-Punk, Rhythm & Blues und rohen Blues zu spielen, mit denen alle fünf Mitglieder aufgewachsen sind. Die Band gibt es nun schon seit mehr als dreißig Jahren, wenn auch mit einer zweijährigen Pause dazwischen.
<br><br>
Ihre ersten Scheiben veröffentlichten sie auf dem Kölner Label Screaming Apple. Nach einer Tour mit den Manic Street Preachers durch Schottland waren sie wie vom Erdboden verschluckt, um erst 2012 wieder aufzutauchen. Die beiden LPs All Good Things (Turn to Dust) und The Violet Hour erschienen beim feinen Label Spinout Nuggets aus Cornwall. 
<br><br>
Ihre Live-Shows gelten als legendär: Auf der „Berlin Beat Invasion“ haben sie schon abgeräumt, jetzt ist Köln dran. You have been warned.
<br>
<br><br>
<b>THE CARLOS MARX BROTHERS (DE/MEX) – Garage Punk</b>
<br><br>
Die <a href="https://youtu.be/O2lKw9Y6418?si=11CNB7VBQXnm9-1r">Carlos Marx Brothers</a> sind eine Revolution-Rock’n’Roll-Band mit Mitgliedern aus Deutschland und Mexiko. Ihr wilder (Garage) Punk Rock wird von Bands wie The Fells und MC5 beeinflusst. Sie rocken im Marxismus-Stil für einen besseren Planeten – bist du Teil des Problems oder der Lösung? Du entscheidest! Don’t miss it.