---
# SETTINGS
layout: theme-k.hbs
# (FairEmail/Android) use the meta title as preview line, then continues with body content
# (Gmail/Web) use the meta title as preview line, then cuts off
# omitted for consistency (recommended)
# subject: 'Kultur & Konzerte in Köln:'

# CONTENT
content:
    logo: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/assets/logo_p-white.png
    tagline: "Swing & Rock'n'Roll"
    headline: Isaac Webb Trio
    subline: "+ Ede Eckstein Trio<br>+ DJ Danyell"
    # quote: 'Kultur & Konzerte in Köln'
    location: 
        title: Konzertraum 674FM
        address: >
              ehem. "Lichtung", Ubierring 13, 50678 Köln, U15/16/17 Chlodwigplatz
    admission:        
        date: Samstag, 14. September 2024
        time: Einlass 20 Uhr / Beginn 21 Uhr
        fee: >
            VVK + AK 15 EUR
    tickets:
        # comment-out url to disable section
        # url: https://vvk.klubder40.de
        url: https://rausgegangen.de/en/events/isaac-webb-trio-sco-ede-eckstein-trio-d-dj-danyell-0/
        title: Tickets reservieren
    facebook:
        # comment-out url to disable section
        url: https://www.facebook.com/events/25961353093509169
        superscript: triff uns auf
        title: Facebook
    poster:
        # comment-out url to disable section
        url: https://s3-eu-west-1.amazonaws.com/files.crsend.com/301000/301560/images/poster/2024_isaacWebbTrio.jpg
        attribution: 'Foto: Isaac Webb Trio'
    links:
        # comment-out title to disable section
        # title: 'Reinhören:'
        items:
            - title: Lonlax (soundcloud)
              url: https://soundcloud.com/kartoffelfidji/sets/private-dont-share-3/s-6YrH7vfKbRv
            - title: Cléo 2 (soundcloud) 
              url: https://soundcloud.com/tioklu/sets/cleo2/s-tg1tb0Skevc
            - title: Facebook-Event
              url: https://www.facebook.com/events/651981326916477
            - title: Ticket-Vorverkauf
              url: https://vvk.klubder40.de
# FOOTER
footer:
    # imprint
    imprint: >
            Veranstalter: Klub der 40 e.V. | <a href="https://klubder40.de/impressum" target="_blank">Impressum</a>
    # mandatory unsubscribe link
    unsubscribe: >
            Wer keine Kulturhinweise mehr erhalten möchte, klickt auf <a href="https://301560.seu2.cleverreach.com/rmftlp.php?cid=[CTID]&mid=[MAILING_ID]&h=[CTID]-[USER_ID_SECURE]" target="_blank">Newsletter abmelden</a>.
---
<b>ISAAC WEBB TRIO (Shetlands, SCO) - R'n'R / R&B</b>
<br/><br/>
Das <a target="_blank" href="https://www.facebook.com/isaacwebbtrio/">Isaac Webb Trio</a> stammt von den stürmischen Shetland-Inseln und spielt auf Einladung des Klub der 40 e.V. zum zweiten Mal in Deutschland. 
Rock'n'Roll der 50er- und 60er-Jahre trifft auf boppenden Wikinger-Swing, Insel-Noblesse geht steil mit ein bisschen kruder Freude an Düsternis. 
Hits wie <a target="_blank" href="https://www.youtube.com/watch?v=n7qAsTTT8l0">Heartbreaking Woman</a>, Outta Luck oder Island Boogie werden unter Garantie in Kürze auch auf der Nord-Süd-Fahrt gepfiffen. 
<br><br>
Mit ihrem windgepeitschten <a target="_blank" href="https://www.youtube.com/watch?v=qSPSU7Sxd_M">Rhythm'n'Blues und Rockabilly</a> haben die Schotten nicht nur uns, sondern auch das legendäre kalifornische Label WILD RECORDS überzeugt.
<br><br>
<b>Support: EDE ECKSTEIN TRIO (Köln, DE) - Swing</b>
<br><br>
In den 1930er-Jahren tanzte die Welt zur Swingmusik, in den USA etwa zu Benny Goodmann, in Frankreich zu Django Reinhardt. Doch in Deutschland galt Swing als »entartet«. Daher existieren nur wenige Klassiker jener Zeit mit deutschen Texten. Wie hätten sie wohl geklungen? 
Das <a target="_blank" href="https://www.facebook.com/ede.eckstein.trio">Ede Eckstein Trio</a> aus Köln macht sich an die Rekonstruktion: 
»Chinatown my Chinatown« wird zu »Eigelstein mein Eigelstein«, »When You're Smiling« heißt nun »Einfach lächeln«. 
<br><br>
Das Trio folgt dabei der Tradition »Band within the Band«. Denn auch vor knapp hundert Jahren schrumpften die üblichen Big Bands der großzügigen Ballrooms zu Trios zusammen, wenn es in die engen Klubs ging. Das Ede Eckstein Trio wiederum ist ein personelles Destillat der Rock'n'Roller von Gerry Lee & The Wanted Men. Die Ecksteins gehen ein Phon ruhiger zu Werke - zum Schnippen, Wippen, Tanzen und Zuhören.  
<br><br>
<b>DJ DANYELL (Düsseldorf) – 50s, Rockabilly, Early Soul</b>
<br><br>
Nach dem Konzert übernimmt DJ Danyell an den Turntables. Vinyl only. Party until late! Get ready to dance.